[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-homeassistant
Exec=harbour-homeassistant
Name=Home Assistant
Name[en]=Home Assistant
Comment=Native Home Assistant client
Comment[en]=Native Home Assistant client

[X-Sailjail]
Permissions=Internet
OrganizationName=org.homeassistant
ApplicationName=harbour-homeassistant
