[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-helmsman
Exec=harbour-helmsman
Name=Helmsman
Name[en]=Helmsman
Comment=Semi-native Home Assistant client
Comment[en]=Semi-native Home Assistant client

[X-Sailjail]
Permissions=Internet;Notifications;Location;
OrganizationName=org.helmsman
ApplicationName=harbour-helmsman
